@import "tailwindcss";

@theme {
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  
  --animate-shake: shake 0.4s ease-in-out;
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
  }
}

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
